<div>
  <form [formGroup]="myform" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label for="RFID">RFID</label>
      <input name="RFID" type="number" class="form-control" RFID="RFID" formControlName="RFID" value="{{item.RFID}}" readonly>
    </div>
    <div class="form-group">
      <label for="FirstName">FirstName</label>
      <input name="FirstName" type="text" class="form-control" id="FirstName" formControlName="FirstName"  value="{{item.FirstName}}">
    </div>
    <div class="form-group">
      <label for="LastName">LastName</label>
      <input type="text" class="form-control" id="LastName" formControlName="LastName" value="{{item.LastName}}" >
    </div>
    <div class="form-group">
      <label for="Program">Program</label>
      <input type="text" class="form-control" id="Program" formControlName="Program" value="{{item.Program}}">
    </div>
    <div class="form-group">
      <label for="TeamNumber">TeamNumber</label>
      <input type="text" class="form-control" id="TeamNumber" formControlName="TeamNumber" value="{{item.TeamNumber}}">
    </div>
    <div>
      <p>Machine List</p>
    </div>

    <!--Displays all machiens as a checkbox and determins if they are checekd based on the machinelist file-->
    <div class="form-check" *ngFor="let machine of machineList">
      <input type="checkbox" class="form-check-input" (change)="onChange(machine.name , $event)" id="exampleCheck1" [checked]="machine.checked">
      <label class="form-check-label" for="exampleCheck1"> {{machine.name}}</label>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

<!--Test line to see values of form-->
<!--<pre>Form values: {{myform.value | json}}</pre>-->
