#breakWord {
  word-wrap: break-word;
}

.label {
    white-space: nowrap;
    overflow: hidden;
}
.row {
  background-color: #292929;
  margin: 10px;
  color: #e0e0e0;
}
.mat-label {
  color: #e0e0e0;
}
input[readonly] {
  background-color: #292929;
}

::placeholder {
  color: #e0e0e0;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #e0e0e0;
}

::-ms-input-placeholder {
  color: #e0e0e0;
}
