.mat-table {
  width: 65%;
  background-color: #949494;
  overflow: hidden;
}
.mat-header-row {
  border: 1px thin;
  margin: 0px;
}

.mat-row .mat-cell {
  border-bottom: 1px solid;
  border-top: 1px thin;
  cursor: pointer;
}

tr {
  padding: 10px;
}

.mat-column {
  width: 50%;
  padding-right: 10px;
  text-align: left;
  vertical-align: middle;
}

.mat-column-Machines {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 28% !important;
  width: 28% !important;
  overflow-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}


LeftAlign {
  width: 100%;
    margin-left: 45%;
  margin-right: 45%;
  display: inline-block;
  float: left;
  border: none;
}

#table-wrapper {
  position: relative;
}


#table-scroll {
  height: 400px;
  overflow: auto;
}

#table-wrapper table {
  width: 50%
}

#table-wrapper table * {
  background: yellow;
  color: black;
}

#table-wrapper table thead th .text {
  position: absolute;
  top: -20px;
  z-index: 2;
  height: 20px;
  width: 35%;
  border: 1px solid red;
}

.searchBar {
  color: #e0e0e0;
  margin-top: 5px;
  margin-bottom: 0px;
}

::placeholder {
  color: #e0e0e0;
  opacity: 1;
}

::-ms-input-placeholder { 
  color: #e0e0e0;
}

::-ms-input-placeholder { 
  color: #e0e0e0;
}


