  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition"
     Position Column-->
    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let user"><button (click)="getUsersRequestDelete(user)"> Delete </button> </td>
    </ng-container>

    <ng-container matColumnDef="RFID">
      <th mat-header-cell *matHeaderCellDef> RFID </th>
      <td mat-cell *matCellDef="let user"> {{user.RFID}} </td>
    </ng-container>

    <ng-container matColumnDef="First Name">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let user"> {{user.FirstName}} </td>
    </ng-container>

    <!-- last name Column -->
    <ng-container matColumnDef="Last Name">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let user"> {{user.LastName}} </td>
    </ng-container>

    <ng-container matColumnDef="Program">
      <th mat-header-cell *matHeaderCellDef> Program </th>
      <td mat-cell *matCellDef="let user"> {{user.Program}} </td>
    </ng-container>
    <ng-container matColumnDef="Team Number">
      <th mat-header-cell *matHeaderCellDef> Team Number </th>
      <td mat-cell *matCellDef="let user"> {{user.TeamNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="Machines">
      <th mat-header-cell *matHeaderCellDef> Machines </th>
      <td mat-cell *matCellDef="let user"> {{user.Machines}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let user"><button type="button" id="btn btn-secondary btn-sm" (click)="editUser(user)">Edit</button></td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)"></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}" </td>
    </tr>
  </table>


  <span>
    <button type="button" class="btn btn-primary btn-sm" (click)="addUser()">Create User</button>
    <!--<button type="button" class="btn btn-primary btn-sm" (click)="getUsersRequestDelete()">Delete User</button>-->
  </span>

