.mat-table {
  width: 100%;
  background-color: #949494;
  overflow: hidden;
}
.mat-header-cell {
  font-weight: bold;
  color: black;
  border-style: solid;
  border-width: thin;
  border-color: black;
  padding-right: 22px;
  padding-left: 22px;
  text-align: left;
}

.mat-row .mat-cell {
  /* border-bottom: 1px solid;
  border-top: 1px thin;*/
  cursor: pointer;
  border-style: solid;
  border-width: thin;
  padding-right: 22px;
  padding-left: 22px;
  border-style: solid;
  border-color: black;
}

.searchBar {
  color: #e0e0e0;
  margin-top: 5px;
  margin-bottom: 0px;
}

::placeholder {
  color: #e0e0e0;
  opacity: 1;
}

::-ms-input-placeholder { 
  color: #e0e0e0;
}

::-ms-input-placeholder { 
  color: #e0e0e0;
}
