<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Lakeshore robotics</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
      </ul>
      <ul class="navbar navbar-nav navbar-right">
        <li *ngIf="isAdmin" class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a *ngIf="currentComponent == 'machineView'" role="button" (click)="adminViewRoute()">Manage users</a></li>
            <li><a *ngIf="currentComponent == 'adminView'" role="button" (click)="machineViewRoute()">Manage machines</a></li>
            <li><a href="/#">Logout</a></li>
          </ul>
        </li>
        <li *ngIf="!isAdmin" class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a *ngIf="currentComponent == 'quizView'" role="button" (click)="machineListRoute()">Machine View</a></li>
            <li><a *ngIf="currentComponent == 'userView'" role="button" (click)="quizListRoute()">Quiz List</a></li>
            <li><a href="/#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

