<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Lakeshore robotics</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li> <button (click)="isAdmin =!isAdmin">Toggle dropdown version</button></li>
        <li> <button (click)="isLoggedin =!isLoggedin">Toggle logged in</button></li>
      </ul>
      <ul class="navbar navbar-nav navbar-right">
        <li *ngIf="isAdmin && isLoggedin" class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/adminView">Manage users</a></li>
            <li><a href="/machineView">Manage machines</a></li>
            <li><a href="/#">Logout</a></li>
          </ul>
        </li>
        <li *ngIf="!isAdmin" class="dropdown" appDropdown>
          <a class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/machineList">Machine View</a></li>
            <li><a href="/quizView">Quiz List</a></li>
            <li><a href="/#">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

